.box_center{
  position: absolute;
  top:15%;
  left: 50%;
}
.box_center> input{
  padding: 8px 27px;
  margin: 7px 0;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  border-radius: 6px;
}



